<app-header></app-header>
<div class="row clearfix">
  <nav id="sidebarMenu" class="column side-nav sidebar">
    <div class="sidebar-sticky">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/member-inquiry">
            상품
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/domain-manager">
            주문
          </a>
        </li>
      </ul>

    </div>
  </nav>

  <main role="main" class="column content">
    <div class="chartjs-size-monitor"
         style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
      <div class="chartjs-size-monitor-expand"
           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
      </div>
      <div class="chartjs-size-monitor-shrink"
           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>
