<form [formGroup]="signInFormGroup" (ngSubmit)="signIn()" class="myForm">
  <fieldset>
    <div formGroupName="giriStoreWorkerSignIn" class="form-area">
      <div *ngIf="showAlert === true" class="alert alert-danger">
        <div>이메일 혹은 비밀번호를 확인해주세요.</div>
      </div>
      <h1>Giri Store Management</h1>
      <h2>로그인</h2>
      <label for="identifier">ID</label>
      <input formControlName="identifier" type="text" id="identifier" placeholder="이메일">
      <div *ngIf="identifier.invalid && (identifier.dirty || identifier.touched)" class="alert alert-danger">
        <div *ngIf="identifier.errors.required || identifier.errors.notAllowBlank">
          ID 를 입력해주세요.
        </div>
        <div *ngIf="identifier.errors.minlength">
          ID 는 최소 3자리입니다.
        </div>
        <div *ngIf="identifier.errors.maxlength">
          ID 는 최대 35자리입니다.
        </div>
      </div>
      <p></p>
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" placeholder="비밀번호">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          비밀번호를 입력해주세요.
        </div>
        <div *ngIf="password.errors.minlength">
          비밀번호는 최소 10자리입니다.
        </div>
        <div *ngIf="password.errors.maxlength">
          비밀번호는 최대 50자리입니다.
        </div>
      </div>
      <p></p>
      <button class="button-primary" type="submit">로그인</button>
      <p></p>
      <button class="button-outline" routerLink="/sign-up">회원 가입하러 가기</button>
    </div>
  </fieldset>
</form>
